# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Pictures directory (we'll mount this as a volume)
pictures/*

# Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
image-gallery

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
